body {
    display: grid;
    grid-template: 60px / 300px 1fr;
    height: 100vh;
    color: white;
    font-family: "Roboto", sans-serif;
}

/* Header Styling */

.header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    background-color: rgb(48, 48, 48);
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.121);
}

/* Sidebar Styling */

.sidebar {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: rgb(42, 42, 42);
}

.sidebar {
    padding: 35px 25px;
}

#sidebarTitle {
    color: rgb(171, 171, 171);
    font-weight: 900;
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.project {
    list-style: disc;
    list-style-position: inside;
    height: 35px;
    line-height: 35px;
    padding-left: 15px;
    border-radius: 5px;
    transition: ease-in-out 0.05s;
}

.project:hover {
    cursor: pointer;
    background-color: rgb(64, 64, 64);
}

/* Main Content Styling */

.content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: rgb(35, 35, 35);
    padding: 40px 0px;
    display: grid;
    grid-template: 1fr / auto 1fr auto;
}

.content > div {
    min-width: 70px;
}

.current-project {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    max-width: 800px;
    min-width: 400px;
    justify-self: center;
    width: 100%;
}

#projectTitle {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

hr {
    background-color: rgb(75, 75, 75);
    border: none;
    height: 1px;
}

.todo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    height: 35px;
    line-height: 35px;
    padding-left: 15px;
    border-radius: 5px;
    transition: ease-in-out 0.05s;
}

.todo:hover {
    cursor: pointer;
    background-color: rgb(53, 53, 53);
}

/* Checkbox Styling */

.todo-checkbox {
    position: relative;
    appearance: none;
    border: 1px solid #868686;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    transition: ease-in-out 0.3s;
}

.todo-checkbox:hover {
    cursor: pointer;
    background-color: #3f3f3f;
}

.todo-checkbox:hover:after {
    content: "\2714";
    position: absolute;
    top: 1px;
    left: 4px;
    color: #868686;
}

.regular-checkbox:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    color: #99a1a7;
}

.todo-checkbox:checked:after {
    content: "\2714";
    position: absolute;
    font-size: 0.9rem;
    top: 1px;
    left: 4px;
    color: #cbcbcb;
}
